body{
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    padding-top: 50px;
    color:rgb(4, 15, 53);
}

p{
    padding-bottom: 20px;
    font-weight: 500;
}
.color-define{
    color:coral;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.site-button{
    text-decoration: none;
    font-size: 20px;
    background: linear-gradient(orange, rgba(250, 181, 71, 0.685));
    color: white;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 7px;
}
.top-section{
    height: 500px;
    padding-bottom: 150px;
}
.second-section{
    height: 500px;
    padding-bottom: 50px;
}
h2{
    font-size: 40px;
    padding-top: 50px;
    color: rgb(4, 15, 53);
}
.third-section{
    height: 650px;
    padding-bottom: 150px;
    background-color: #f9f9f9;
}
.third-section h2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
.three-colum{
    width: 25%;
    height: 350px;
    background-color: #fff;
    float: left;
    margin-left: 2%;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgba(41, 36, 36, 0.308);
}
.three-colum h3{
    font-size: 25px;
    color: rgb(4, 15, 53);
}

.colum2{
    margin-left: 7%;
}
.three-colum img{
    width: 100%;
}
.forth-section{
    height: 500px;
    background-image: url('images/pic/bad-pic.jpg');
    background-size: cover;
    margin-bottom: 250px;
}
.forth-section h2{
    text-align: center;
    color: white;
    margin-top: 0;

}
.half-width-class{
    background-color: white;
    padding: 1%;
    height: 500px;
    box-shadow: 5px 5px 20px #b3adad;
    border-radius: 20px; 
}
.half-width-class img{
    border-radius: 20px;
}
.half-width-class h3{
    font-size: 30px;
    color: rgb(4, 15, 53);
    margin-top: 10px;
    margin-bottom: 5px;
}
.half-width-class p{
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}
.bad-min{
    width: 45%;
    height: 162px;
    float: left;
    margin: 8px;
    margin-bottom: 20px;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #b3adad;
}
.bad-min img{
    width: 100%; 
    border-radius: 10px;  
}
.fifth-section{
    width: 100%;
    height: 300px;
    margin: auto;
    background-image: url('images/Group_33094_1.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.full-widht{
    float: left;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
.full-widht h2{
    color: white;
}
footer{
    text-align: center;
}
    